* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat";
}


body {
    background-color:#FFF9F1;
    display: flex;
}

header{
    width: 100%;
    background-color:#EDE1BD;
    padding: 30px 30px;
    position: fixed;
    z-index: 1000;
}

.logo{
    width: 12%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    color: #232222;
}

.menu ul li a{
    text-decoration: none;
    color:#232222;;
    font-weight: 600;
}

.menu ul li input{
    outline: none;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #232222;
    font-style: italic;
}

.user{
    width: 25%;
    border-radius: 50%;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

button {
    border-radius: 50px;
    background-color: #F4D99F;
    font-weight: 600;
    color: #232222;
    border: none;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.personaje {
    color: white;
    background-color: #C13A21;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0 auto;
    margin-top: 200px;
    width: 100%;
    max-width: 1200px; 
    border-radius: 50px;
    padding: 40px;
    max-height: 470px;

}

.personaje .personaje-img img {
    width: 1200px;
    max-width: 100%;
    margin: auto;

}

.personaje .personaje-general p {
    padding: 20px;
}

.personaje .personaje-general h1 {
    padding: 0px 20px;
    font-size:50px; 
}

.personaje .personaje-general strong {
    padding: 40px 20px;
    font-size: large;
    font-style: italic;
}

.personaje .personaje-general i {
    color: yellow;
    padding: 3px;
}


.personaje-2 {
    display: flex;
    align-content: flex-start;


}

.personaje-2 .personaje-portrait {
    color: #C13A21;
    width: 50%;

}

.personaje-2 .personaje-portrait img {
    width: 50%;
}

.personaje-2 .informacion-personaje {
    color: #EDE1BD;
    width: 50%;
}