* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat";
}


body {
    background-color:#FFF9F1;
    max-width: 100%;
}

header{
    width: 100%;
    background-color:#EDE1BD;
    padding: 30px 30px;
}

.logo{
    width: 12%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    
}

.menu ul li a{
    text-decoration: none;
    color:#232222;;
    font-weight: 500;
}

.sign-out:hover{
    margin-left: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 110px;
    padding: 8px; 
    background-color: #ebc679;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.menu ul li input{
    outline: none;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #232222;
    font-style: italic;
}

.sign-out{
    margin-left: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 110px;
    padding: 8px; 
    background-color: #F4D99F;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 600;
}
.user{
    width: 25%;
    border-radius: 50%;
}

.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

button {
    border-radius: 50px;
    background-color: #F4D99F;
    font-weight: 600;
    color: #232222;
    border: none;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
}
.personaje{
    background-color: #e6ca8f;
    display: flex;
    height: 450px;
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 40px;
    width: 95%;
}
.personaje-general{
    padding-left: 3%;
    color: white;
    padding-top: 12%;
    width: 40%;
}
.personaje-general p {
    padding: 20px;
}

.personaje-general h1 {
    padding: 0px 20px;
    font-size:50px; 
}

.personaje .personaje-general strong {
    padding: 40px 20px;
    font-size: large;
    font-style: italic;
}

.personaje .personaje-general i {
    color: yellow;
    padding: 3px;
}

.personaje-img{
    width: 65%;
    margin-left: 200px;
}
.img-personaje {
    width: 85%;

}

/*Personaje 2*/

.container-2{
    gap: 50px;
    width: 100%;
    display: flex;
}
.personaje-portrait {
    margin-top: 5%;
    margin-left: 2.5%;
    border-radius: 40px;
    width: 45%;
    background-color: #EDE1BD;
    height: 600px;
}

.personaje-portrait img {
    width: 70%;
    margin: 0;
    margin-left: 100px;
    margin-bottom:150px ;


}
.informacion-personaje{
    height: 600px;
    margin-top: 5%;
    margin-right: 2.5%;
    border-radius: 40px;
    width: 55%;
    background-color: #EDE1BD;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.informacion-personaje .columna-izquierda {
    width: 300px;
    height: 400px;
    font-size: large;
    margin-left: 80px;
}

.informacion-personaje .columna-derecha {
    width: 100px;
    height: 400px;
    font-size: large;
    margin-left: 60px;

}

.boton_favoritos {
    position: relative;
    top: 200px;
    right: 280px;
    width: 200px;
    height:60px;
    font-size: medium;


}

.abilities{
    margin-top: 5%;
    height: 800px;
    width: 95%;
    /* background-image: url("../assets/element/namecard-hutao.jpg"); */
    background-color: #e6ca8f;
    background-size: cover;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 200px;
}


.abilities h2 {
    position: relative;
    top: 50px;
    left: 40px;
    font-size: x-large;
    font-weight: 400;
}

.ability {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
}

.ability p {

    margin: 10px;
    
}

.abilities-group {

    background-color:#EDE1BD ;
    font-weight: 300;
    font-size: medium;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    width: 630px;
    height: 300px;
    padding: 20px;

}