html, body{
    font-family: "Montserrat";
    padding:0px;
    margin:0px;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 660px;
    background-image: url("../assets/main/Banner-main.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 12%;
    position: absolute;
    top: 30px;
    left: 40px;
}
.menu{
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    display: flex;
    align-items: center;
    text-align: end;
    list-style: none;
    gap: 40px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.menu ul li input{
    font-family: "Montserrat";
    outline: none;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.profile{
    padding-right: 50px;
}
.sign-out{
    margin-left: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 110px;
    padding: 8px; 
    background-color: #F4D99F;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 600;
}
.sign-out:hover{
    margin-left: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 110px;
    padding: 8px; 
    background-color: #ebc679;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.user{
    width: 100%;
    border-radius: 50%;
}

.container-banner{
    display: flex;
    width: 100%;
}
.content{
    width: 60%;
    padding-top: 10%;
    align-items: center;

}
.description-banner{
    line-height: 0.7;
}
.title{
    color: white;
    font-size: 45px;
    font-style: italic;
}
.subtitle{
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    padding-left: 22%;
}
.text{
    color: white;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 8%;
}
.buttons{
    padding-top: 5%;
    padding-left: 5%;
}
.favorite-btn{
    margin-right: 25px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #2F7456;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
}
.favorite-btn:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #1a4734;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.details-btn{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #C5FDFA;
    border-radius: 25px;
    border: none;
    color: #2F7456;
    font-weight: 500;
}
.details-btn:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #9de4e0;
    border-radius: 25px;
    border: none;
    color: #2F7456;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.venti{
    padding-top: 5%;
    padding-left: 5%;
    width: 90%;

}
/*CHARACTER SECTION*/

.category{
    padding-left: 4%;
    padding-top: 10%;
}
.searchBarra{
    width: 30%;
    padding: 8px;
    border-radius: 15px;
    padding-left: 20px;
    outline: none;
    border: none;
    background-color: #f7edcf;
    font: bold 13px Montserrat;
}
.search-btn{
    font-size: 15px;
    font-family: "Montserrat";
    width: 100px;
    height: 35px;
    background-color: #e47559;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
}
.search-btn:hover{
    margin-left: 20px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 100px;
    height: 35px;
    background-color: #d66245;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.characters{
    width: 100%;
}
.cards-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 3%;
}

.card{
    width: 30%;
    height: 450px;
    background: linear-gradient(white 20%, #c1bafc 80%);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-top: 5%

}

.card:hover{
    box-shadow: 0 0 20px rgba(153, 153, 153, 0.8); /* Brillo dorado */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
}

.card-image img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 50px;
}

.name{
    color: #232222;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}
.nickname{
    font-style: italic;
    font-weight: 500;
}
.card-content{
    text-align: center;
    line-height: 0;

}
.card-buttons{
    padding-top: 8%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite-card{
    font-size: 15px;
    font-family: "Montserrat";
    width: 40%;
    padding: 8px; 
    background-color: #F4D99F;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 500;
}
.favorite-card:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 40%;
    padding: 8px; 
    background-color: #e4c279;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.details-card{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #FCD892;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 500;
}
.details-card:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #f1c875;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}


/* Most popular character section*/

.container-maincard{
    display: flex;
    height: 600px;
    width: 100%;
    background-image: url("../assets/main/fondo-raiden.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.raiden{
    width: 100%;
}
.content2{
    padding-left: 12%;
    width: 60%;
    padding-top: 10%;
    align-items: center;
}
.description-banner2{
    line-height: 0.5;
    padding-left: 5%;
}
.favorite{
    margin-right: 25px;
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #C9AEFB;
    border-radius: 25px;
    border: none;
    color: #22165C;
    font-weight: 500;
}
.favorite:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #a68ada;
    border-radius: 25px;
    border: none;
    color: #22165C;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.details{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #22165C;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
}
.details:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #160e3f;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
/*Call to action section*/

.call-to-action{
    display: flex;
    margin-top: 10%;
    margin-left: 2.5%;
    background-color: #F4D99F;
    border-radius: 30px;
    width: 95%;
    height: 250px;
}
.left-side{
    width: 70%;
}
.call-to-action p{
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    padding-top: 30px;
    padding-left: 50px;
}
.go-favorites{
    margin-left: 50px;
    font-size: 18px;
    font-family: "Montserrat";
    width: 20%;
    padding: 15px; 
    background-color: #FFF8E2;
    border-radius: 25px;
    border: none;
    color: #232222;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.go-favorites:hover{
    margin-left: 50px;
    font-size: 18px;
    font-family: "Montserrat";
    width: 20%;
    padding: 15px; 
    background-color: #fceec2;
    border-radius: 25px;
    border: none;
    color: #232222;
    font-weight: 500;
}
.img-call{
    width: 30%;
    display: flex;
    justify-content: center;
}
.img-call img{
    width: 65%;

}

/*Search section*/

.search-character{
    line-height: 0.2;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-title{
    font-size: 30px;
    font-weight: 600;
}

.search-subtitle{
    font-size: 22px;
}
.search-character input{
    margin-top: 15px;
    font-family: "Montserrat";
    outline: none;
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f3dcb2;
}
.search-character input::placeholder{
    font-weight: 400;
}
.search-character img{
    margin-top: 3%;
    width: 35%;
}

/*Footer*/

footer{
    width: 100%;
    height: 180px;
    margin-top: 7%;
    background-color: black;
    color: white;
}
.text-footer p{
    font-size: 12px;
}
.text-footer{
    padding-top: 3%;
    padding-left: 5%;
}
footer p h3 {
    padding: 0;
    margin-left: 80px;
}