html, body{
    /*background-image: url("../assets/main/banner-main.jpg");
    background-size: cover;*/
    font-family: "Montserrat";
    padding:0px;
    margin:0px;
}


header{
    width: 100%;
    height: 660px;
    background-image: url("../assets/main/Banner-main.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    width: 12%;
    position: absolute;
    top: 30px;
    left: 30px;
}
.menu{
    display: flex;
    
    justify-content: flex-end;
    
}
.menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.menu ul li input{
    font-family: "Montserrat";
    outline: none;
    width: 100%;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid #ccc;
}


.user{
    width: 25%;
    border-radius: 50%;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.container-banner{
    display: flex;
    width: 100%;
}
.content{
    width: 60%;
    padding-top: 10%;
    align-items: center;

}
.description-banner{
    line-height: 0.7;
}
.title{
    color: white;
    font-size: 45px;
    font-style: italic;
}
.subtitle{
    color: white;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
    padding-left: 22%;
}
.text{
    color: white;
    font-size: 20px;
    padding-left: 5%;
    padding-right: 8%;
}
.buttons{
    padding-top: 5%;
    padding-left: 5%;
}
.favorite-btn{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #2F7456;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
}
.favorite-btn:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #1a4734;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.details-btn{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #C5FDFA;
    border-radius: 25px;
    border: none;
    color: #2F7456;
    font-weight: 500;
}
.details-btn:hover{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #9de4e0;
    border-radius: 25px;
    border: none;
    color: #2F7456;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgb(165, 163, 163);
}
.venti{
    padding-top: 5%;
    padding-left: 5%;
    width: 90%;

}
/*CHARACTER SECTION*/

.category{
    padding-left: 4%;
    padding-top: 10%;
}
.characters{
    width: 100%;
}
.cards-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 3%;
}

.card:nth-child(1){
    width: 30%;
    height: 450px;
    background: linear-gradient(white 20%, #FCD892 80%);
    border-radius: 50px;
}

.card:nth-child(2){
    width: 30%;
    height: 450px;
    background: linear-gradient(white 20%, #CBD5E8 80%);
    border-radius: 50px;
}

.card:nth-child(3){
    width: 30%;
    height: 450px;
    background: linear-gradient(white 20%, #8BC5D8 80%);
    border-radius: 50px;
}

.card-image img{
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 50px;
}

.name{
    color: #232222;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}
.nickname{
    font-style: italic;
    font-weight: 500;
}
.card-content{
    text-align: center;
    line-height: 0;

}
.card-buttons{
    padding-top: 8%;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite-card{
    font-size: 15px;
    font-family: "Montserrat";
    width: 40%;
    padding: 8px; 
    background-color: #F4D99F;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 500;
}
.details-card{
    font-size: 15px;
    font-family: "Montserrat";
    width: 33%;
    padding: 8px; 
    background-color: #FCD892;
    border-radius: 25px;
    border: none;
    color: #515151;
    font-weight: 500;
}

/*Characters section 2*/

.cards-container2{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 3%;
}
.card2:nth-child(1){
    width: 40%;
    height: 450px;
    background: linear-gradient(white 20%, #9C7A4C 80%);
    border-radius: 50px;
}

.card2:nth-child(2){
    width: 40%;
    height: 450px;
    background: linear-gradient(white 20%, #CA2D29 80%);
    border-radius: 50px;
}
.container-maincard{
    display: flex;
    height: 600px;
    width: 100%;
    background-image: url("../assets/main/fondo-raiden.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.raiden{
    width: 110%;
}
.content2{
    padding-left: 12%;
    width: 60%;
    padding-top: 10%;
    align-items: center;
}


    
    

